{#{% extends "todo/base.html" %}#}
{% load static %}
{% block content %}
<div class="container tex">
    <h3>Генератор поролей</h3>

    <form action="{% url 'password' %}">
        <select name="length">
            <option value="6">6</option>
            <option value="7">7</option>
            <option value="8">8</option>
            <option value="9">9</option>
            <option value="10">10</option>
            <option value="11">11</option>
            <option value="12" selected="selected">12</option>

            {#                <option value="13">13</option>#}
            {#            <option value="14">14</option>#}
        </select>  Длина от 6 до 12

        <br>
        <input type="checkbox" name="uppercase"> Верхний регистр
        <br>
        <input type="checkbox" name="numbers"> Цифры
        <br>
        <input type="checkbox" name="special"> Специальные символы
        <br>



        <input type="submit" value="Сгенерировать пароль" class="btn btn-primary">
    </form>
</div>
    <h2 class="alert alert-success">{{ password }}</h2>
 {% endblock %}