{% extends "todo/base.html" %}
{% load static %}
{% block content %}
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <div class="container">
    <div class="row justify-content-center mt-5">
        <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 text-center">

            <h1>Просто твои задачи. Woo!</h1>
            <p class="text-justify">Жизнь веселая. Но жизнь также занята. Есть миллион разных вещей, которые вы могли бы делать. Но что имеет значение то,  <u>что</u> вы делаете. Мы создали <b><i>Todo Woo</i></b>, чтобы помочь вам понять все ваши возможности и жить этой жизнью, которая имеет наибольшее значение для вас. Ваша новая организованная жизнь ждет.</p>
{#            <p>Life is fun. But life is also busy. There's a million different things you could be doing. But what matters is <u>what</u> you do. We created <b><i>Todo Woo</i></b> to help you make sense of all of your opportunities and live that life that matters most to you. Your new organized life awaits.</p>#}
            {% if user.is_authenticated %}
                {% else %}
            <a role="button" class="btn btn-primary btn-lg" href="{% url 'signupuser' %}">Начало</a>
            {% endif %}
        </div>
    </div>
    </div>
{#    {% include 'generator/password.html' %}#}
{% endblock %}